.container {
    margin: 0 auto;
    max-width: 600px;
    background: #3a3a3a;
}
.header {
    background: #5a5a5a;
    padding: 20px;
    color: #fff;
}
h1 {
    text-align: center;
}
.filter {
    padding-bottom: 12px;
}
.contact {
    padding: 10px 0;
    position: relative;
}
.contact-list {
    color: #fff;
    padding: 20px;
}
.contact-form {
    display: flex;
    flex-flow: column;
    padding: 20px 0;
}
.contact-form input {
    margin: 4px 0;
    width: 300px;
}
.contact-form input[type="submit"] {
    margin-top: 10px;
}
.remove-contact {
    color: #ff5050;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10px;
}